.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  background-color: #2c2c2c;
  gap: 20px;
  width: 100%;
  padding: 1.5rem 2rem; 
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.footer h3, p, h4 {
  color: #F9F7F2
}